# Default ignored files
/../../prog5-j2-lint./.idea/shelf/
/../../prog5-j2-lint./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../prog5-j2-lint./.idea/httpRequests/
# Environment-dependent path to Maven home directory
/../../prog5-j2-lint./.idea/mavenHomeManager.xml
# Datasource local storage ignored files
/../../prog5-j2-lint./.idea/dataSources/
/../../prog5-j2-lint./.idea/dataSources.local.xml
