name: Checkstyle Analysis

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  checkstyle:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Maven Checkstyle
        run: mvn clean install checkstyle:checkstyle

      - name: Publish Checkstyle Report
        uses: jwgmeligmeyling/checkstyle-github-action@v1
        with:
          name: Checkstyle Report
          path: target/checkstyle-result.xml
